<div class="container">
  <section class="row">
    <div class="col-xs-12 col-sm-12 col-md-offset-3 col-md-6">

      <p style="margin-bottom:12px;text-align:center;">
        Coming soon!
      </p>

      <p style="margin-bottom:12px;text-align:center;">
        <a class="btn btn-lg btn-primary"
           href="https://docs.google.com/forms/d/1wTMuYDSPSfuxddMcoR3OlnnxpO1q8_2U2nASyofYvNY/viewform?usp=send_form">
           Join the invite list
        </a>
      </p>

      <p style="text-align:center;">
        Follow <a href="http://twitter.com/elbowpatched">@elbowpatched</a> on Twitter.
      </p>
    </div>
  </section>
</div>