---
---
<!DOCTYPE html>
<html>
<head>
  <title>Elbowpatched</title>

  <!-- Stylesheets -->
  <link rel="stylesheet" href="//fonts.googleapis.com/css?family=Roboto:400,700">
  <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">

  <style>
    body {
      margin:96px;
      color:#555;
      background-color:#fff;
      font-size:16px;
    }
    header h1 {
      margin:8px 0 32px;
      text-align:center;
      font-size:48px;
      color:#0e5584;
    }
    header h1 > span {
      color:#44a9eb;
    }
    header p {
      margin:0 0 32px;
      text-align:center;
    }
    header p.lead {
      margin:0 0 32px;
      font-size:24px;
    }

    section {
      margin:0 0 32px;
    }
  </style>

  <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
  <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
  <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
  <![endif]-->

  <!-- Javascript -->
  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
  <script src="//netdna.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
</head>
<body>

  <header class="container">
    <div class="row">
      <div class="col-xs-12 col-sm-12 col-md-offset-3 col-md-6">
        <img src="/img/icon.svg"
             style="display:block;margin:0 auto;width:48px;height:48px;">
        <a href="/" style="text-decoration:none;">
          <h1>Elbowpatch<span>ed</span></h1>
        </a>

        <p class="lead">
          Create your academic personal website easily.
        </p>
      </div>
    </div>
  </header>

  {{ content }}

  <div class="container">
    <section class="row">
      <div class="col-xs-offset-2 col-xs-8">
        <hr>
      </div>
    </section>
  </div>

  {% include join.html %}

  <!-- StatCounter -->
  <script>
    var sc_project=9994281; 
    var sc_invisible=1; 
    var sc_security="76ecc9b0"; 
    var scJsHost = (("https:" == document.location.protocol) ? "https://secure." : "http://www.");
    document.write("<sc"+"ript type='text/javascript' src='" +
      scJsHost +
      "statcounter.com/counter/counter.js'></" + "script>");
  </script>
</body>
</html>