---
layout: default
---

<!-- Blog Header -->
<div class="section
            section--blog-header
            text-center">

  <a href="/"
     class="link--no-hover">
    <img src="/img/logo.svg"
         style="height:36px;">
    
    <h1>ElbowPatched</h1>
  </a>

</div>

<!-- Blog Post -->
<div class="section
            section--padded
            section--blog"
     style="padding-top:64px;">

  <div class="container">
    <div class="row">
      <div class="col-xs-12
                  text-center">

        <h2 style="font-weight:normal;">
          <a href="{{ page.url | prepend: site.baseurl }}">
            {{ page.title }}
          </a>
        </h2>

        <div class="section--blog__date"
             style="margin-top:12px;">
          {{ site.posts.first.date | date:"%B %d, %Y" }}
        </div>

      </div>

      <div class="col-xs-12
                  col-md-offset-3 col-md-6"
           style="margin-top:40px;">
        {{ content }}
      </div>
    </div>

  </div>
</div>

<!-- Navigation -->
<div class="section"
     style="padding:20px 0;
            background-color:#f1f1f1;">

  <div class="container">
    <div class="row">
      <div class="col-xs-6
                  col-md-offset-3 col-md-3">
        {% if page.previous %}
          <a href="{{ page.previous.url }}">
            &larr; OLDER
          </a>
        {% endif %}
      </div>
      <div class="col-xs-6
                  col-md-3
                  text-right">
        {% if page.next %}
          <a href="{{ page.next.url }}">
            NEWER &rarr;
          </a>
        {% endif %}
      </div>
    </div>
  </div>

</div>